.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  &__photo {
    max-width: 320px;
    display: flex;
    align-items: center;
  }
  &__info {
    text-align: right;
    transition: 0.5s ease;
  }
  &__info-title {
    font-size: 100px;
    margin-bottom: 20px;
    font-weight: 400;
  }
  &__info-subtitle {
    font-size: 55px;
    color: #144aad;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    font-weight: 400;
    &:before {
      content: "";
      position: absolute;
      top: 30px;
      left: 25px;
      width: 60px;
      border-bottom: 2px solid $brandColor;
    }
    &:after {
      content: "";
      position: absolute;
      top: 30px;
      right: 25px;
      width: 60px;
      border-bottom: 2px solid #144aad;
    }
  }
  &__contacts {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    position: relative;
  }
  &__contacts-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $default-dark;
    position: relative;
    padding-left: 40px;
    margin-bottom: 5px;
    transition: 0.5s ease;
    &:hover {
      color: $brandColor;
      transition: 0.5s ease;
    }
    &:before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 0px;
      left: 0px;
    }
  }
  &__contacts-left .country {
    &:before {
      background-image: url('../images/icons/Flag_of_Ukraine.svg');
    }
  }
  &__contacts-left .city {
    &:before {
      background-image: url('../images/icons/apartment_black_24dp.svg');
    }
  }
  &__contacts-left .github {
    &:before {
      background-image: url('../images/icons/iconmonstr-github-1.svg');
    }
  }
  &__contacts-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $default-dark;
    position: relative;
    padding-left: 40px;
    margin-bottom: 5px;
    transition: 0.5s ease;
    &:before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 0px;
      left: 0px;
    }
    &:hover {
      color: $brandColor;
      transition: 0.5s ease;
    }
  }
  &__contacts-right .phone {
    text-decoration: none;
    &:before {
      background-image: url('../images/icons/call_black_24dp.svg');
    }
  }
  &__contacts-right .mail {
    text-decoration: none;
    &:before {
      background-image: url('../images/icons/email_black_24dp.svg');
    }
  }
  &__contacts-right .linkedin {
    text-decoration: none;
    &:before {
      background-image: url('../images/icons/icons8-linkedin.svg');
    }
  }
  &__contacts-right .telegram {
    text-decoration: none;
    &:before {
      background-image: url('../images/icons/icons8-telegram-app.svg');
    }
  }
}
