@media (max-width: 1102px) {
   .header__info-title {
      font-size: 80px;
   }
   .header__info-subtitle {
      font-size: 40px;
      &:before {
         top: 23px;
       }
       &:after {
         top: 23px;
       }
   }
}

@media (max-width: 952px) {
  .header__inner {
    padding-top: 20px;
    margin-bottom: 80px;
  }
  .header__photo {
    max-width: 200px;
    margin: 0 auto;
  }
  .header__info-title {
    font-size: 60px;
  }
  .header__info-subtitle {
    font-size: 30px;
    &:before {
      top: 23px;
    }
    &:after {
      top: 23px;
    }
  }
  .skills {
    padding-top: 60px;
  }
  .education {
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .header__inner {
    display: block;
    padding-top: 20px;
  }
  .header__photo {
    display: block;
    margin: 0 auto ;
    max-width: 250px;
  }
  .header__info-title {
    font-size: 50px;
    text-align: center;
  }
  .header__info-subtitle {
    font-size: 30px;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
  .header__contacts-left {
    font-size: 22px;
    padding-left: 0;
    text-align: left;
    &:before {
      display: none;
      left: 130px;
    }
  }
  .header__contacts-right {
    font-size: 22px;
    &:before {
      display: none;
    }
  }
  .header__info {
    width: 450px;
    margin-right: 0;
    width: 100%;
  }
  .about__content {
    font-size: 18px;
  }
  .skills__main-title {
    margin-bottom: 15px;
    font-size: 45px;
  }
  .skills__title {
    font-size: 25px;
  }
  .skills__tehnologies-list {
    padding-top: 10px;
  }
  .skills__tehnologies-list-item {
    font-size: 20px;
    line-height: 25px;
  }
  .skills__additionally-list {
    padding-top: 10px;
  }
  .skills__additionally-list-item {
    font-size: 20px;
    line-height: 30px;
  }
  .skills__other-list {
    padding-top: 10px;
  }
  .skills__other-list-item {
    font-size: 20px;
    line-height: 30px;
  }
  .education {
    padding-top: 80px;
    margin-bottom: 70px;
  }
}

@media (max-width: 576px) {
  .header__inner {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }
  .header__photo {
    max-width: 200px;
    padding-left: 0;
    order: 0;
  }
  .header__info-title {
    font-size: 30px;
  }
  .header__info-subtitle {
    font-size: 20px;
  }
  .header__contacts-left {
    font-size: 16px;
    &:before {
      display: none;
    }
  }
  .header__contacts-right {
    padding-left: 0;
    font-size: 16px;
    &:before {
      display: none;
    }
  }
  .header__info {
    width: 320px;
  }
  .about__content {
    font-size: 16px;
    line-height: 22px;
  }
  .skills {
    padding-top: 40px;
  }
  .skills__main-title {
    font-size: 30px;
  }
  .skills__title {
    font-size: 20px;
  }
  .skills__tehnologies-list-item {
    font-size: 16px;
  }
  .skills__additionally {
    font-size: 20px;
  }
  .skills__additionally-list-item {
    font-size: 16px;
  }
  .skills__other {
    font-size: 20px;
  }
  .skills__other-list-item {
    font-size: 16px;
    padding-left: 5px;
  }
  .education {
    padding-top: 70px;
    margin-bottom: 50px;
  }
  .education__title {
    text-align: center;
  }
  .education__left {
    padding-right: 10px;
  }
  .education__right {
    padding-left: 10px;
  }
  .education__item {
    text-align: center;
  }
  .language__item {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .header__photo {
    padding-left: 0;
    max-width: 150px;
    margin-right: 10px;
  }
  .header__info {
    max-width: 100%;
  }
  .header__info-title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .header__info-subtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .header__contacts-left {
    font-size: 14px;
  }
  .header__contacts-right {
    font-size: 14px;
  }
  .about__content {
    font-size: 14px;
    line-height: 20px;
    &:before {
      width: 200px;
    }
    &:after {
      width: 300px;
    }
  }
  .skills__title {
    font-size: 16px;
  }
  .skills__tehnologies-list-item {
    font-size: 14px;
  }
  .skills__additionally {
    font-size: 80px;
  }
  .skills__additionally-list-item {
    font-size: 14px;
  }
  .skills__other {
    font-size: 80px;
  }
  .skills__other-list-item {
    font-size: 14px;
    padding-left: 5px;
  }
  .additionally {
    margin-bottom: 20px;
  }
  .education__inner {
    &::before {
      width: 200px;
    }
    &:after {
      width: 300px;
    }
  }
  .education__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .education__item {
    font-size: 14px;
  }
  .additionally__content {
    font-size: 16px;
  }
  .language__item {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .header__inner {
    display: block;
  }
  .header__contacts {
    width: 100%;
    margin: 0 auto;
  }
  .header__photo {
    display: block;
    margin: 0 auto;
  }
  .header__info {
    display: block;
    margin-right: 0 !important;
    width: 375px;
  }
  .header__info-title {
    margin-bottom: 20px;
  }

  .header__info-subtitle {
    font-size: 24px;
  }
  .about__content {
    font-size: 14px;
  }
  .header__contacts-right {
    font-size: 14px;
  }
  .skills__inner {
    display: flex;
    flex-wrap: wrap;
  }
  .skills__title {
     padding: 20px;
  }
  .skills__tehnologies {
    width: 50%;
  }
  .skills__additionally {
    width: 50%;
    border-right: none;
  }
  .skills__other {
     width: 100%;
  }
  .skills__other-list {
     padding-top: 20px;
  }
  .education {
     margin-bottom: 35px;
  }
  .education__inner {
     top: -15px;
  }
  .education__item {
     font-size: 12px;
     line-height: 20px;
  }
  .additionally__content {
     font-size: 13px;
  }
}


