// Header
@media (min-width: 320px) {
  .header {
    width: 320px;
    &__inner {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &__photo {
      margin-bottom: 20px;
      max-width: 180px;
      margin: 0 auto;
    }
    &__info-title {
      font-size: 35px;
      margin-bottom: 3px;
      text-align: center;
    }
    &__info-subtitle {
      font-size: 18px;
      text-align: center;
      margin-bottom: 15px;
      &:before,
      &:after {
        display: none;
      }
    }
    &__contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__contacts-left {
      padding-left: 0;
      font-size: 15px;
      text-align: left;
      &:before {
        display: none;
      }
    }
    &__contacts-right {
      padding-left: 0;
      font-size: 15px;
      &:before {
        display: none;
      }
    }
    &__info {
      width: 320px;
    }
  }
  // About
  .about {
    margin-bottom: 10px;
    &__content {
      font-size: 14px;
      line-height: 20px;
      &:before {
        width: 200px;
        top: -15px;
        border: 1px solid $brandColor;
      }
      &:after {
        border: none;
      }
    }
  }
  .skills {
    padding: 0;
    margin-bottom: 20px;
    &__main-title {
      font-size: 30px;
      margin-bottom: 5px;
    }
    &__inner {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
    }
    &__tehnologies {
      border: none;
      margin: 0 auto;
    }
    &__title {
      font-size: 20px;
      text-align: center;
      padding: 5px;
    }
    &__tehnologies-list {
      display: flex;
      padding-top: 5px;
      line-height: 20px;
    }
    &__tehnologies-list-item {
      font-size: 14px;
      padding: 2px;
    }
    &__additionally {
      border: none;
      margin: 0 auto;
    }
    &__additionally-list {
      display: flex;
      padding-top: 5px;
      line-height: 20px;
    }
    &__additionally-list-item {
      font-size: 16px;
      padding: 2px;
    }
    &__other {
      border: none;
      margin: 0 auto;
    }
    &__other-list {
      display: flex;
      padding-top: 5px;
      line-height: 20px;
    }
    &__other-list-item {
      font-size: 14px;
      padding: 2px;
    }
  }
  .education {
    padding-top: 0px;
    margin-bottom: 20px;
		&__inner {
      font-size: 12px;
      &:before {
        border: none;
      }
      &:after {
        border: none;
      }
    }
		&__left {}
		&__title {
      margin-bottom: 5px;
      text-align: center;
    }
		&__item {
      padding: 2px;
      line-height: 16px;
      text-align: center;
    }
		&__line {}
		&__right {}
}
}
