@media (max-width: 1102px) {
  .header {
    &__inner {
      margin-bottom: 60px;
    }
    &__info-title {
      font-size: 80px;
    }
    &__info-subtitle {
      font-size: 35px;
      &:before {
        top: 20px;
      }
      &:after {
        top: 20px;
      }
    }
  }
  .about {
    margin-bottom: 40px;
  }
  .skills {
    padding: 0;
  }
}

@media (max-width: 952px) {
  .header {
    &__info-title {
      font-size: 50px;
    }
    &__photo {
      max-width: 250px;
      padding-left: 20px;
    }
    &__info {
      max-width: 480px;
    }
    &__info-subtitle {
      font-size: 25px;
      text-align: right;
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
    }
    &__contacts-left {
      font-size: 16px;
    }
    &__contacts-right {
      font-size: 16px;
    }
  }
  .about__content {
    font-size: 18px;
    line-height: 25px;
  }
  .skills {
    &__main-title {
      font-size: 50px;
      margin-bottom: 20px;
    }
    &__title {
      font-size: 25px;
      font-weight: 300;
      padding: 5px;
    }
    &__tehnologies-list {
      padding-top: 5px;
    }
    &__tehnologies-list-item {
      font-size: 20px;
      line-height: 25px;
    }
    &__additionally-list {
      padding-top: 5px;
    }
    &__additionally-list-item {
      font-size: 20px;
      line-height: 30px;
    }
    &__other-list {
      padding-top: 5px;
    }
    &__other-list-item {
      font-size: 20px;
      line-height: 35px;
    }
  }
  .education {
    margin-bottom: 60px;
  }
}
